.modal-gracias-wrapper {
    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, .3);
}

.modal-gracias {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 40vh;
    min-width: 480px;
    border: 4px solid black;
    top: calc(50% - 20vh);
    left: calc(50% - 20vw);
    background-color:#57b0facb;
}

.modal-header {
    font-size: 3rem;
    text-align: center;
    padding: 1.5rem;
}

.modal-score {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    font-size: 3rem;
}