.how-to-play__card {
    min-width: 360px;
    width: 360px;
    min-height: 132px;
    height: 100%;
    display: flex;
    padding: 16px;
    background-color: #fff;
    box-sizing: border-box;
}

.how-to-play__card-number {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 24px;
    background-color: #2196F3;
    color: #fff;
    width: 40px;
    height: 40px;
    margin: 0 16px 0 0;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, .5);
}

.how-to-play {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}

.how-to-play__image {
    justify-self: flex-end;
    align-self: center;
    margin: 0 150px 0 0;
}